{%extends 'layout.html'%} 

{% block body %}
    <h1>My notes</h1>
    <br>
    <h5>{{ mensaje }}</h5>



<div class="row">
    {% for note in notes %}
    
        <div class="jumbotron" style="margin: 10px">
            
            <h1 class="display-4">{{ note.title}}</h1>
            <p class="lead">Date: {{ note.created_at }}&nbsp;&nbsp;
            <hr class="my-4">
            <a href="/note/{{note.id}}" ><button type="button" class="btn btn-primary">Description</button></a>
            <a href="/edit-note/{{note.id}}"><button type="button" class="btn btn-info">Edit</button></a>
            <form action="{{url_for('delete_note', id=note.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <!-- <input type="hidden" name='_method' value="delete"> -->
                <button type="button summit" value="Delete" class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    {% endfor %} 
 
{% endblock %}

</div>