{% extends 'layout.html' %}

{% block body %} 
    <h1>My notes</h1>
    
    <ul>
        {% for note in notes  %}
            <div class="jumbotron">
                <h1 class="display-4">{{ note.title}}</h1>
                <p class="lead">{{ note.date}}&nbsp;&nbsp;|&nbsp;&nbsp; {{ note.author}}</p>
                <hr class="my-4">
                <!-- <p>{{ note.description}}</p> -->
                <a href="/note/{{note.id}}"><button type="button" class="btn btn-dark">Description</button></a> 
            </div>
        {% endfor%}
    </ul>
    

{% endblock %}